
<div class="container">
  <nav class="row">
    <div class="jumbotron">
      <h1>
        {{title}}
      </h1>
    </div>
    <!-- jumbotron -->
  </nav>
  <!-- top row nav-->
  <div class="row">
    <div class="col-sm-6">
      <div *ngFor="let meal of masterMealList" class="well">
        <ul>
          <li>{{meal.name}}</li>
          <li>{{meal.details}}</li>
          <li>{{meal.calories}}</li>
          <button >edit</button>
        </ul>
        <app-edit-log [childSelectedMeal]="selectedMeal" (doneButtonClickedSender)="finishedEditing()"></app-edit-log>
      </div>
      <!-- end for loop -->
    </div>
    <!-- left column -->
    <div class="col-sm-6">
      <app-create-log (newMealSender)="addMeal($event)"></app-create-log>
    </div>
    <!-- right column -->
  </div>
  <!-- row -->
</div>
<!-- container -->
