<div *ngIf="childSelectedMeal">
  <div class="well">
    <h3>Update your entry</h3>
    <div align="center" class="intake-form-row">
      <label>What did you eat?</label><br>
      <input [(ngModel)]="childSelectedMeal.name"><br>
    </div>
    <div align="center" class="intake-form-row">
      <label>How did you feel about it?</label><br>
      <textarea rows="5" cols="60" [(ngModel)]="childSelectedMeal.details"></textarea><br>
    </div>
    <div align="center" class="intake-form-row">
      <label>How many calories do you estimate?</label><br>
      <input [(ngModel)]="childSelectedMeal.calories"><br>
    </div>
    <div align="center" class="intake-form-row">
      <button (click)="doneButtonClicked()">Done</button>
    </div>
  </div>
  <!-- well -->
</div>
<!-- if -->
